* {
    font-family: Montserrat;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    line-height: 1.7;
    margin-top: 40px;
}

.bg-primary {
    background-color: #2c3e50 !important;
}

#text.bg-primary {
    color: aqua !important;
}

img {
    max-width: 20%;
    height: auto;
}

.bg-secondary {
    background-color: #f0f0f0 !important;
}

.progress {
    background-color: rgba(250, 255, 255, 0.2);
    border-radius: 20px;
    overflow: hidden;
}

/* styles for the card */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-header {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}